*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(48, 46, 46);
}

.head{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.head #links {
    margin-right: 30px;
    display: flex;
}

.head #links a {
    margin-left: 30px;
    font-size: small;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.head #links a:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

#Homepage {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Homepage #queryForm {
    border: 1px solid grey;
    height: 13px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 600px;
}

#Homepage #queryForm i {
    color: lightgrey;
}

#Homepage #queryForm:hover {
    box-shadow: 0 0 5px grey
}

#Homepage #queryForm input {
    width: 100%;
    border: none;
    box-shadow: none !important;
    outline: none !important;
    margin-left: 7px;
    font-size: 15px;
}

#Homepage #button {
    display: flex;
    justify-content: center;
}

#Homepage #button input {
    background-color: whitesmoke;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 5px;
    margin: 20px 5px;
    padding: 7px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

#Homepage #imageLogo {
    display: flex;
    align-items: center;
    width: auto;
}

.advancedHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: small;
}

.advancedHeader a {
    text-decoration: none;
}

.advancedHeader a:hover{
    border-bottom: 1px solid black;
}

#Homepage #imageLogo img {
    width: 300px;
    height: auto;
}

.advancedHeader .smallGoogleLogo {
    display: flex;
    align-items: center;
    width: auto;  
}

.advancedHeader .smallGoogleLogo img {
    width: 70px;
    height: auto;
}

.advancedSubheader {
    border-bottom: 1px solid rgb(241, 241, 241); 
}

.advancedSubheader h3 {
    color: brown;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 35px;
    font-weight: normal;
}

.FormInput {
    display: flex;
    align-items: center;
    max-width: 1150px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2px 0px 45px;
}

.FormInput .HeadingDescription {
    font-size: 16px;
    min-width: 167px;
    width: 16%;
    font-weight: 500;
    color: black;
}

.FormInput .Description {
    width: 200px;
    font-size: 13px;
}

.FormInput .formfield {
    min-width: 167px;
    width: 50%;
}

.FormInput .formfield input {
    border-radius: 1px;
    border: 1px solid whitesmoke;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
}

.FormInput .what-To-Do {
    width: 32%;
    min-width: 16px;
    color: black;
    font-size: 11px;
    padding-left: 30px;
}

span{
    font-family: monospace;
    color: #666;
    font-size: 11px;
    white-space: pre;
}

.FormInput .button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.FormInput .button input:hover{
    background-color: rgb(80, 141, 233);
}

.FormInput .button input {
    background-color: rgb(11, 133, 209);
    font-size: 11px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid rgb(173, 183, 189);
    color: white;
    min-width: 120px;
    font-weight: bold;
}







